@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --blueColor: #0070f3;
  --MaxWidth: 1200px;
  --font-family: "Work Sans", sans-serif;
  --footerBg: #f6f6f7;
  --footerCard: white;
  --adbox: #242535;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--textColor);
  font-family: var(--font-family);
}

a {
  color: var(--softBg);
  text-decoration: none;
  transition: color 0.3s ease;
}

.dark {
  --bg: #181a2a;
  --textColor: #ddd;
  --softBg: #f0f0f0;
  --softTextColor: #a6a6a6;
  --footerBg: #141624;
  --footerCard: #181a2a;
  --adbox: #242535;
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #1f273a;
  --footerBg: #f6f6f7;
  --softTextColor: #626262;
  --footerCard: white;
  --adbox: #e8e8ea;
}

/* #fixMeDetectBox {
  margin: 0;
  padding: 0;
  display: none;
} */

/* .dark {
  --bg: #181a2a;
  --textColor: black;
  --softBg: white;
  --linkColor: #ffffff;
  --linkHoverColor: #cccccc;
}

.light {
  --bg: var(--bg);
  --textColor: black;
  --softBg: black;
  --linkColor: black;
  --linkHoverColor: #0070f3;
} */
/* .dark {
  --bg: #181a2a;
  --textColor: black;
  --softBg: white;
 
}

.light {
  --bg: var(--bg);
  --textColor: black;
  --softBg: black;
 
} */

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}
