.first_section {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.showna {
  width: 100%;

  margin: 0;
  margin-top: 40px;
  position: relative;
}
.first_section h1 {
  margin-top: 50px;

  font-family: "Work Sans";
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  text-align: left;
}

.button {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Work Sans", sans-serif;
  padding: 12px;
  background-color: #4b6bfb;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #005bb5;
}

.heading {
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 10px;
}

.image_and_text {
  display: flex;
  align-items: center;
  padding-top: 12px;
  gap: 10px;
}

.round_image {
  border-radius: 50%;
  object-fit: cover;
}

.text_container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #696a75;
}

.first_writeup p {
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 23px;
  line-height: 34px;
}

.first_writeup h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  line-height: 24px;
  margin-bottom: 10px;
}

.box_section {
  background: #e8e8ea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 60px;
  font-size: 22px;
  font-family: "Source Serif Pro";
}

.first_new_text p {
  font-family: "Source Serif Pro";
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #181a2a;

  line-height: 24px;
  margin: 0;
}

.image_container {
  position: relative;
  width: 100%;
  height: 700px;
}
.second_section {
  width: 100%;
}

.third_image {
  position: relative;
  width: 100%;
  height: 700px;
}

.second_box_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
  margin-top: 50px;
}

.second_new_box {
  background: #e8e8ea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  width: 65%;

  height: 120px;
  border-radius: 20px;
  margin-bottom: 60px;
}

.new_heading {
  color: #696a75;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.new_text {
  color: #696a75;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.second_writeup p {
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 23px;
  line-height: 34px;
}

.second_writeup {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "work sans";
  font-size: 14px;
  font-weight: 300;
}

.second_writeup h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  line-height: 24px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .first_section {
    max-width: 100%;
    padding: 10px;
    align-items: center;
    top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .showna {
    margin-top: 20px;
  }

  .first_section h1 {
    font-size: 28px;
    line-height: 1.2;
    margin-top: 20px;
    text-align: center;
  }

  .button {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
  }

  .heading {
    font-size: 24px;
  }

  .image_and_text {
    flex-direction: column;
    gap: 5px;
  }

  .text_container {
    flex-direction: column;
    gap: 10px;
  }

  .text {
    font-size: 14px;
    line-height: 1.5;
  }

  .first_writeup p {
    font-size: 18px;
    line-height: 1.5;
  }

  .first_writeup h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .box_section {
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .first_new_text p {
    font-size: 20px;
    line-height: 1.4;
  }

  .image_container,
  .third_image {
    height: auto;
  }

  .second_section {
    width: 100%;
  }

  .second_box_section {
    padding: 0 20px;
    margin-top: 20px;
  }

  .second_new_box {
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 20px;
  }

  .new_heading {
    font-size: 18px;
  }

  .new_text {
    font-size: 14px;
    line-height: 1.5;
  }

  .second_writeup p {
    font-size: 18px;
    line-height: 1.5;
  }

  .second_writeup {
    padding: 0 10px;
  }

  .second_writeup h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
